.App {
  margin: 0;
  font-family: monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
